*{
    margin: 0;
    padding: 0;
    background-color: azure;
}
.t_sht{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.t_sht img{
     height: 300px;
     width: 200px;
}
.t_img {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.t_img img{
    height: 30px;
    width: 30px;
}